@model MovieWithReviewsViewModel
@{
	ViewData["Title"] = $"{Model.movie.Title} Reviews";
}

<div class="row">
	<div class="col-md-3">
		<img src="data:image/*;base64,@(Convert.ToBase64String(Model.movie.Poster))" class="img-thumbnail img-fluid" alt="@Model.movie.Title" style="max-width: 100%;" />
	</div>
	<div class="col-md-7">
		<div>
			<h3>@Model.movie.Title</h3>
		</div>
		<span class="text-muted">
			<i class="bi bi-calendar-week"></i>
			@Model.movie.Year
		</span>
		<br />
		<span class="text-muted">
			@foreach (var genre in ViewBag.GenresNames)
			{
				<i class="bi bi-film"></i>
				@genre.ToString();
			}
		</span>
		<p>@Model.movie.Story</p>
	</div>
</div>
